.case {
	&__carousel {
		position: relative;
		height: 480px;
		overflow: hidden;

		@include tablet {
			height: 450px;
		}

		@include mobile-s {
			height: 420px;
		}
	}

	&__title {
		padding-bottom: 10px;
	}
}
