.case {
	&__carousel {
		position: relative;
		height: 480px;
		overflow: hidden;

		@include tablet {
			height: 450px;
		}

		@include mobile-s {
			height: 420px;
		}
	}

	&__title {
		margin-bottom: 25px;
	}

	&__button {
		min-width: 100%;

		@include mobile-above {
			display: none;
		}
	}
}
