.header{
  padding-block:20px;


  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__image{
    @include fluid-width(75, 150);
  }

}