.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;

	@include tablet {
		padding-inline: 0;
	}

	@include mobile {
		flex-direction: column;
		align-items: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: start;
		max-width: 531px;
		row-gap: 35px;

		@include tablet {
			row-gap: 25px;
		}

		@include mobile {
			display: contents;
		}
	}

	&__title {
		@include mobile {
			order: -2;
			margin-bottom: 10px;
		}
	}

	&__description {
		font-size: 20px;
		line-height: 1.4;
		opacity: 0.5;

		@include mobile {
			margin-bottom: 40px;
		}
	}

	&__button {
		@include mobile {
			width: 100%;
			max-width: 390px;
			margin-inline: auto;
		}
	}

	&__image {
		@include tablet {
			max-width: 46%;
			height: auto;
		}

		@include mobile {
			order: -1;
			width: 80%;
			max-width: 100%;
			margin-bottom: 20px;
		}

		@include mobile-s {
			width: 100%;
		}
	}
}
