/* Стили для слайдера */
.slider {
	&-wrapper {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	&-slide {
		min-width: 100%;
		position: relative;
		text-align: center;

		@include desktop {
			width: 50vh; /* Уменьшение высоты слайдов на средних экранах */
			font-size: 1.5em; /* Уменьшение размера текста */
		}

		@include mobile {
			width: 40vh; /* Уменьшение высоты слайдов на мобильных устройствах */
			font-size: 1.2em; /* Уменьшение размера текста для мобильных */
		}

		@include mobile-s {
			width: 30vh; /* Уменьшение высоты слайдов для очень маленьких экранов */
			font-size: 1em; /* Еще меньше размер текста для очень маленьких экранов */
		}
	}

	&-slide img {
		width: 100%;
		display: block;
	}

	&-name {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 1.5rem;
	}

	/* Стили для стрелок */
	&-control {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(255, 255, 255, 0.9);
		border: 2px solid rgba(255, 255, 255, 0.9);
		color: #d94f3d;
		font-size: 2.5em;
		cursor: pointer;
		padding: 10px;
		border-radius: 50%;
		z-index: 100;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s, border-color 0.3s;

		@include tablet {
			display: none;
		}
	}

	&-control:hover {
		background-color: rgba(255, 255, 255, 1);
		border-color: rgba(255, 255, 255, 1);
	}

	&-control.prev {
		left: 15px;
	}

	&-control.next {
		right: 15px;
	}

	/* Индикаторы */
	&-indicators {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
	}

	&-indicators div {
		width: 15px;
		height: 15px;
		margin: 0 5px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	&-indicators div.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
